.decor-quote {
    font-size: 30px;
    line-height: 110%;
    font-style:italic ;
    font-weight: 600;
    color: #906a3b;
    text-align: center;
    width:50%;
    margin: 0 auto;
}

.decor-quote p {
    font-size: 20px;
}