nav ul{
    display: flex;
    justify-content: flex-start;
    gap:20px; 
    list-style-type: none;
    padding: 0
  }
  
  nav ul li {
    text-transform: uppercase;
  }


  @media screen and (max-width: 1150px) {
    nav ul{
    flex-wrap: wrap;
      }
  }